@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  max-width: 100vw;
  min-height: 100vh;
}
.crew {
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(/assets/crew/background-crew-desktop.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 30px;
  position: relative;
  /* overflow: hidden; */
  /* animation: zoomInOut 20s linear infinite forwards; */
}
/* 
@keyframes zoomInOut {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 120%;
  }
  100% {
    background-size: 100%;
  }
} */

header {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 50px;
  margin-bottom: 3.5rem;
  /* position: relative; */
}
.logo {
  margin-right: 60px;
}
.nav {
  display: flex;
  align-self: center;
  justify-content: center;
  list-style: none;
  gap: 10px;
  width: 100%;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
}
.nav a {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 16px;
  letter-spacing: 2.7px;
  transition: all 0.4s ease-in-out;
}
.nav .link {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 23px;
}
.nav li {
  color: white;
  font-weight: 600;
  padding: 30px 20px;
  text-wrap: nowrap;
}
.line {
  width: 40%;
  height: 2px;
  background-color: gray;
}
.nav .close {
  display: none;
  cursor: pointer;
}
.burger {
  display: none;
  cursor: pointer;
}
.head {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.375px;
  text-transform: uppercase;
  margin-left: 3rem;
}
.head span {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.375px;
  opacity: 0.25;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem 1rem 0rem;
}
.crew-text {
  width: 50%;
  padding-left: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.crew-text .role {
  color: #fff;
  font-family: Bellefair;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5042;
}
.crew-text .name {
  color: #fff;
  font-family: Bellefair;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.crew-text .info {
  color: #d0d6f9;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 87%;
}
.btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  opacity: 0.1744;
  background-color: #fff;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}
/* .btns .btn:hover {
  background-color:;
} */
.colored {
  background-color: white;
  opacity: 1;
}
.crew-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.crew-image img {
  width: 400px;
  /* height: 654px; */
  flex-shrink: 0;
  object-fit: initial;
}
@media screen and (max-width: 950px) {
  .crew-text .name {
    font-size: 40px;
  }
  .crew-image img {
    width: 70%;
  }
}
@media screen and (max-width: 1000px) {
  /* .crew {
    animation: unset;
  }
  @keyframes zoomInOut {
    0% {
      background-size: 300%;
    }
    50% {
      background-size: 250%;
    }
    100% {
      background-size: 200%;
    }
  } */
  .head {
    margin-bottom: 20px;
  }
  .section {
    flex-direction: column;
    width: 100%;
    gap: 50px;
    padding: 1rem 0rem 0rem 0rem;
  }
  .column {
    width: 100%;
    align-items: center;
  }

  .crew-text {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-left: 0px;
  }
  .crew-text .info {
    width: 70%;
  }
  .crew-image {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .crew-text .name {
    font-size: 30px;
  }
  .crew-text .info {
    width: 80%;
  }
  .line {
    display: none;
  }
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    transform: translate(100%);
    opacity: 0;
    transition: all 0.5s linear;
  }
  .nav li {
    padding: 20px;
  }
  .nav.active {
    transform: translate(0);
    opacity: 100;
  }
  .static {
    position: fixed;
    width: 100%;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 45px;
  }
  header {
    gap: 0;
  }
  .nav .close {
    display: block;
    text-align: end;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 25px;
  }
  .burger {
    display: block;
  }
}

@media screen and (max-width: 760px) {
  header {
    margin-bottom: 2rem;
  }
  .crew {
    overflow: scroll;
  }
  .head {
    margin-bottom: 3rem;
    /* margin-left: 2rem; */
  }
  .btns {
    align-items: center;
    justify-content: center;
  }
  .section {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }
  .crew-image {
    width: 100%;
  }
  .crew-text {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 0px;
  }
  .crew {
    padding-top: 20px;
    padding-bottom: 0px;
    height: 100%;
    background-image: url(/assets/crew/background-crew-tablet.jpg);
  }

  header {
    padding-left: 20px;
  }
  .logo {
    margin-right: 20px;
  }
  .nav .close {
    margin-right: 0px;
  }
  .crew-text .info {
    width: 85%;
  }
}
@media screen and (max-width: 550px) {
  .crew-image {
    border-bottom: 1px solid #383b4b;
  }
  .crew-text {
    margin-bottom: 40px;
  }
  .crew-image img {
    width: 80%;
  }
  .section {
    flex-direction: column-reverse;
  }
  .crew-text {
    flex-direction: column-reverse;
  }
  .column {
    gap: 10px;
  }
  .crew-text .role {
    font-size: 20px;
  }
  .crew-text .name {
    font-size: 28px;
  }
  .crew-text .info {
    font-size: 16px;
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .crew-image img {
    width: 70%;
  }
  .crew {
    background-image: url(/assets/crew/background-crew-mobile.jpg);
    animation: zoomInOut 20s linear infinite forwards;
  }
  .nav {
    width: 60%;
  }
  .head {
    font-size: 14px;
    text-align: center;
    margin-left: 0px;
  }
  .crew-text .role {
    font-size: 16px;
  }
  .crew-text .name {
    font-size: 24px;
  }
  .crew-text .info {
    font-size: 15px;
    width: 90%;
  }

  @keyframes zoomInOut {
    0% {
      background-size: 120%;
    }
    50% {
      background-size: 140%;
    }
    100% {
      background-size: 170%;
    }
  }
}
