@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  max-width: 100vw;
  min-height: 100vh;
}
.destination {
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(/assets/destination/background-destination-desktop.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 30px;
  position: relative;
  /* padding: 35px; */
  /* animation: zoomInOut 20s linear infinite forwards; */
}
/* 
@keyframes zoomInOut {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 120%;
  }
  100% {
    background-size: 100%;
  }
} */

header {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 50px;
  margin-bottom: 3.5rem;
  /* position: relative; */
}
.logo {
  margin-right: 60px;
}
.nav {
  display: flex;
  align-self: center;
  justify-content: center;
  list-style: none;
  gap: 10px;
  width: 100%;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
}
.nav a {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 16px;
  letter-spacing: 2.7px;
  transition: all 0.4s ease-in-out;
}
.nav .link {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 23px;
}
.nav li {
  color: white;
  font-weight: 600;
  padding: 20px;
  text-wrap: nowrap;
}
.line {
  width: 40%;
  height: 2px;
  background-color: gray;
}
.nav .close {
  display: none;
  cursor: pointer;
}
.burger {
  display: none;
  cursor: pointer;
}
.section {
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 2rem;
}
.head {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.375px;
  text-transform: uppercase;
  margin-left: 2rem;
}
.head span {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.375px;
  opacity: 0.25;
}

.image {
  max-width: 80%;
  height: 100%;
  object-fit: cover;
  animation: zoomImage 30s linear infinite forwards;
}

@keyframes zoomImage {
  0%,
  100% {
    transform: scale(0.8) translate(0, 0) rotate(0deg);
  }
  25% {
    transform: scale(0.3) translate(500px, 100px) rotate(90deg);
  }
  50% {
    transform: scale(0.5) translate(100px, 0px) rotate(180deg); /* Adjust the scale factor as needed */
  }
  75% {
    transform: scale(0.7) translate(0px, 0px) rotate(270deg);
  }
  /* 100% {
    transform: scale(1) translate(0, 0) rotate(360deg);
  } */
}
/* @keyframes rotateMap {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.destination-img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.destination-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: whitesmoke;
  z-index: 10000;
}
.select {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 40px;
  margin-bottom: 1rem;
  color: #d0d6f9;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
}
.btn {
  cursor: pointer;
}
.btn:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 7px;
  text-decoration-color: #979797;
}
.stay {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 7px;
}
.name {
  color: #fff;
  text-transform: uppercase;
  font-family: Bellefair;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.info {
  color: #d0d6f9;
  width: 90%;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 45px;
  border-bottom: 1px solid #383b4b;
}
aside {
  display: flex;
  align-items: center;
  gap: 6rem;
  margin-top: 1rem;
}
aside h4 {
  color: #d0d6f9;
  font-family: Barlow Condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.362px;
  text-transform: uppercase;
}
aside h3 {
  color: #fff;
  font-family: Bellefair;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 890px) {
  .destination {
    animation: unset;
  }
  @keyframes zoomInOut {
    0% {
      background-size: 300%;
    }
    50% {
      background-size: 250%;
    }
    100% {
      background-size: 200%;
    }
  }
  .section {
    flex-direction: column;
    margin-top: 80px;
    gap: 50px;
  }
  .destination-img {
    width: 100%;
  }
  .destination-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  .line {
    display: none;
  }
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    transform: translate(100%);
    opacity: 0;
    transition: all 0.5s linear;
    z-index: 1000000000;
  }
  .nav.active {
    transform: translate(0);
    opacity: 100;
  }
  .static {
    position: fixed;
    max-width: 100%;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 45px;
  }
  header {
    gap: 0;
  }
  .nav .close {
    display: block;
    text-align: end;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 25px;
  }
  .burger {
    display: block;
  }
  .image {
    max-width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .destination {
    padding-top: 20px;
    padding-bottom: 30px;
    height: 100%;
    background-image: url(/assets/destination/background-destination-tablet.jpg);
  }

  header {
    padding-left: 20px;
  }
  .logo {
    margin-right: 20px;
  }
  .nav .close {
    margin-right: 0px;
  }
  .head {
    padding-left: 1rem;
  }
  .section {
    flex-direction: column;
    max-width: 100%;
    gap: 5rem;
  }
  .destination-img {
    width: 100%;
  }
  .destination-text {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .image {
    max-width: 60%;
  }
}
@media screen and (max-width: 550px) {
  .image {
    max-width: 80%;
  }
  .head {
    font-size: 16px;
  }
  .section {
    margin-top: 70px;
  }
  .destination {
    padding: 20px 20px 30px;
  }
  header {
    padding: 0;
  }
  .logo {
    margin-right: 0;
  }
  aside {
    flex-direction: column;
    gap: 3rem;
    padding: 1rem 0px;
  }
  aside h4 {
    font-size: 20px;
  }
  aside h3 {
    font-size: 30px;
    font-weight: 400;
  }
}
@media screen and (max-width: 460px) {
  .destination {
    background-image: url(/assets/destination/background-destination-mobile.jpg);
    animation: zoomInOut 20s linear infinite forwards;
  }
  .nav {
    width: 60%;
  }
  .head {
    text-align: center;
    color: #fff;
    font-family: Barlow Condensed;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    text-transform: uppercase;
  }
  .section {
    margin-top: 40px;
  }
  .select {
    font-size: 13px;
    gap: 25px;
  }
  .info {
    width: 100%;
    font-size: 15px;
  }
  .name {
    color: #fff;
    text-align: center;
    font-family: Bellefair;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  aside h3 {
    font-size: 28px;
  }
  @keyframes zoomInOut {
    0% {
      background-size: 120%;
    }
    50% {
      background-size: 140%;
    }
    100% {
      background-size: 170%;
    }
  }

  @keyframes zoomImage {
    0%,
    100% {
      transform: scale(0.1) translate(0, 0) rotate(0deg);
    }
    25% {
      transform: scale(0.3) translate(50px, 300px) rotate(90deg);
    }
    50% {
      transform: scale(0.5) translate(-100px, 0px) rotate(180deg);
    }
    75% {
      transform: scale(0.7) translate(0px, 0px) rotate(270deg);
    }
  }
}
